* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


html, body {
  width: 100%;
  height: 100%;
}


body {
  background: #2e2e2e;
}


.app {
  width: 100%;
  height: 100vh;   
  background: #2e2e2e;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 0;
}


.title {
  color: white;
  margin-bottom: 30px;
}


.feed {
  width: 100%;
  max-width: 600px;   
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}


.card {
  width: 300px;
  height: 300px;
  background: #bbb;
  border-radius: 12px;
  overflow: hidden;
}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
